@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f6e58d;
}
#navbar {
  background-color: #f9ca24;
}

#heading,
#navText {
  color: #494866;
}

#paragraph {
  color: #494866;
  font-size: clamp(14px, 2vw + 10px, 20px);
}

.borderStyle {
  position: relative;
}
.borderStyle:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 100%;
  height: 90px;
  background-image: url(/curves.png);
  background-size: contain;
  background-repeat: repeat-x;
}
p {
  text-align: justify;
}

.tokenomics_container {
  border: 5px solid #494866;
  width: 90%;
  margin: auto;
  margin-top: 5rem;
  border-radius: 10px;
}

/* its lg */
@media only screen and (max-width: 1024px) {
}
