@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f6e58d;
}
#navbar {
  background-color: #f9ca24;
}

#heading,
#navText {
  color: #494866;
}
#paragraph {
  color: #494866;
  font-size: clamp(14px, 2vw + 10px, 20px);
}

@media only screen and (max-width: 1024px) {
  #content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
